.site-logo{
    height: 40px;
    width: auto;
}
body{
    background-color: #F0F0F0;
}
.navbar{
    background-color: #F0F0F0 !important;
}
.header-font{
    font-family: 'Anton', sans-serif;
}
.header-size{
    font-size: 50px;
}
.sub-header{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.circle{
    border-radius: 50%;
    border: 10px solid white;
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.red{
    padding: 25px 20px;
    background-color: #E6563B;
}

.orange{
    padding: 25px 15px;
    background-color: #EB9D3A;
}
.green{
    padding: 25px 15px;
    background-color: #7CB06C;
}

.teal{
    padding: 25px 25px;
    background-color: #00ABA9;
}
.work-img{
    margin: 0 !important;
    padding: 0 !important;
    border: 5px solid #E6E6E6;
}
.last-img{
    height: 75px;
    width: 75px;
    border: 5px solid #E6E6E6;
    border-radius: 5%;
}
.card{
    border: none;
    background-color: #F0F0F0;
}
/*.card-text{*/
/*    margin: 2px;*/
/*}*/
.last-text{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 22px;
}


